:root {
    --color-primary: #EBD3FA;
    --color-secondary: #E3AADD;
    --color-third: #C8A8E9;
    --color-fourth: #A993D8;
    --color-fifth: #C3C7F3;
    --font-color: #2F2F2F;
    --card-color1: #C8BBD0;
    --card-color2: #E0BBD4;
     --card-color3: #C3C7F3;
     --card-color4: #90F897;
    --card-color5: #CF8686;
     --card-color6: #EECB99;
     --color-shadow: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey 15', sans-serif;
}

body {
    background: #d8c8ff;
    min-height: 80vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* CONTAINER WITH BORDER RADIUS */
.container {
    width: 100%;
    max-width: 1600px;
    min-height: 97vh;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid #c3a6ff;
}

/* NAVIGATION BAR */
.navbar {
    width: 90%;
    height: 90px;

    background: rgba(77, 71, 161, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(40px);

    display: flex;
    align-items: center;
    justify-content: center; 

    gap: 80px; 
    width: 140vh;
    margin: 70px auto;

    border-radius: 50px;

    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    
}

.nav-links {
    justify-content: center; 
    list-style: none;
    display: flex;
    gap: 40px;

    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);

    transition: transform 0.15s ease, opacity 0.15s ease;
}

.nav-links a:hover {
    transform: scale(1.06);
    opacity: 0.75;
}

/* Click animation */
.nav-links a:active {
    transform: scale(0.92);
}

/* ===== ACTIONS  ===== */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 18px;

    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    
}

.nav-actions .login {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.nav-actions .login:hover {
    transform: scale(1.06);
    opacity: 0.75;
}

.nav-actions .login:active {
    transform: scale(0.92);
}


.logo-section img {
    height: 120px;    /* keeps proportion */
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 100px;
}

.brand {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: normal;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 150px;
}

.login {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

/* ===== START BUTTON ===== */
.start-btn {
    padding: 10px 26px;
    background: white;
    color: var(--color-third);
    border: none;
    border-radius: 25px;

    font-family: "Jersey 15", sans-serif;
    font-size: 20px;

    cursor: pointer;

    box-shadow: 0 4px 0 var(--color-secondary);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.start-btn:hover {
    transform: scale(1.05);
}

.start-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 var(--color-secondary);
}

/* BACKGROUND IMAGE */
.background {
    width: 100%;
    height: 100%;
    background: url('background.png') no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* FORGOT PASSWORD CARD */
.forgot-card {
    width: 380px;
    background: white;
    padding: 30px;
    margin: 130px auto;
    border-radius: 25px;
    text-align: center;
    box-shadow: 
        0 20px 0 var(--color-shadow),   
        22px 20px 0 var(--color-shadow);  

        margin-top: 270px;
    }

.forgot-card h2 {
    font-size: 24px;
    font-weight: normal;
    position: relative;
    padding-bottom: 10px;
}

.forgot-card h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 118%;
    height: 3px;
    background: var(--color-shadow);
    border-radius: 5px;
}

.forgot-card label {
    display: block;
    text-align: left;
    color: black;
    margin-bottom: 5px;
    margin-top: 10px;
}

.forgot-card input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    outline: none;
    background: #f7f7f7;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    background: #efefef;
    border-radius: 15px;
}

input:focus {
    background: #e2e2e2;
    outline: none;            
    box-shadow: 0 0 0 3px var(--color-secondary); 
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #E0BBD4;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 4px 0 #d59be8;
}

.submit-btn:hover {
    transform: scale(1.05);
}

.submit-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 var(--color-secondary);
}

.login-text {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}


.login-text a {
    color: #d59be8;;
    text-decoration: none;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.toggle-eye:hover {
    opacity: 1;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 12px; 
    border-radius: 20px;
    border: 1px solid #ddd;
    background: #f7f7f7;
}

.toggle-eye {
    position: absolute;
    right: 15px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: var(--color-fourth);
    opacity: 0.6;
}

.toggle-eye:hover {
    opacity: 1;
}


/* ===== POP UP ===== */

.my-popup {
    border-radius: 25px !important;
    padding: 15px !important;
    background: white;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    border: 3px solid #eac5ff;
}

.my-title {
    font-family: "Jersey 15", sans-serif;
    color: var(--color-third);
    font-size: 35px;
    font-weight: normal;
}

.my-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #444;
}

.my-confirm-btn {
    background: #c597ff !important;
    border-radius: 20px !important;
    padding: 10px 30px !important;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
    box-shadow: 0 4px 0 #a86ef4;
    transition: 0.15s ease;
}

.my-confirm-btn:hover {
    transform: scale(1.05);
}

.my-confirm-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #a86ef4;
}

.my-img {
    border-radius: 20px;
}