
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;

  background: repeating-linear-gradient(
      0deg,
      rgba(0,0,0,0.05) 0px,
      rgba(0,0,0,0.05) 1px,
      transparent 1px,
      transparent 30px
  );
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("nline.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.60; 
  z-index: -1;
}

.header {
  width: 70%;
  margin: 50px auto 0;
  padding: 25px;
  text-align: center;
}

.title {
  font-family: 'Jersey 15', sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  align-items: center;
}

.progress-container {
  width: 70%;
  height: 12px;
  background: #dcdcdc; 
  border-radius: 10px;
  margin: 10px auto 5px;
  overflow: hidden;
  
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #C3C7F3; 
  border-radius: 10px;
  transition: width 0.6s ease;
  
}

#timer {
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */

    font-size: 20px;
    background-color: #ffffff;
    border-radius: 40px;
    width: 100px;
    padding: 10px 20px;
    box-shadow: 3px 4px 2px #C3C7F3;
    margin-left: 1590px;
    margin-top: -20px;
    margin-bottom: 20px;

}


.subtitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}

.question-box {
  width: 60%;
  margin: 30px auto;
  margin-top: 50px;
  background-color: #C3C7F3;
   border-radius: 25px;
  padding: 10px 25px;
  text-align: center;
  box-shadow: 3px 4px 2px #C3C7F3;
  border: 1px solid #C3C7F3;
}

.question {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 1px 2px 2px #C3C7F3;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #C3C7F3;

  text-align: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  margin-left: 450px;
  margin-bottom: 15px;
}

.option {
  width: 60%;
  padding: 15px 20px;
  font-size: 18px;
  gap: 55px;
  background: #fff;
  border: 1px solid #C3C7F3;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.068);
  user-select: none;
  margin-bottom: 20px;
}

.option:hover {
  background: #e5e5e5;
}

.option.correct {
  background: #c8f7c5 !important;
  border-color: #2ecc71;
}

.option.wrong {
  background: #f7c5c5 !important;
  border-color: #e74c3c;
}



