*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-box {
    width: 550px;
    height:500px;
    margin: 60px auto 0;
    background: #ffffff;
    border-radius: 40px;
    padding: 130px 40px 40px; 
    text-align: center;
    box-shadow: 0 8px 15px rgba(0,0,0,0.12);
    position: relative;
    justify-content: flex-start;
}

.header-top {
    width: 100%;
    height: 90px;
    background: #e3c2ff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.title {
    font-family: 'Jersey 15', sans-serif;
    font-size: 45px;
    font-weight: lighter;
    font-style: normal;
}
.subtitle-form{
    margin-top:-5%;
}
.startsave-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
    border-top: 2px solid #f5f5f5;
}
.start-btn {
    margin-top: 20px;
    width: 110px;
    height: 30px;
    padding: 12px;
    background-color: #e3aadd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    font-size: 22px;
    box-shadow: 0 4px 0 #a45de3;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel-btn {
    margin-top: 20px;
    width: 110px;
    height: 30px;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    color: black;
    border: 1px solid black;
    font-size: 22px;
    box-shadow: 0 4px 0 grey;
    transition: 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.start-btn:hover {
    transform: scale(1.05);
}
.start-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #a45de3;
}
.cancel-btn:hover {
    transform: scale(1.05);
}
.cancel-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #a45de3;
}
.deckinfo{
    font-family: 'Jersey 15', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
}
.decktitle{
    background-color: #EDEDED;
    border-radius: 30px;
    color: #a4a4a4;
    height:37px;
    width: 370px;
    justify-content: flex-start;
    display: flex;
    border: none;
}
.radio-group{
    display: flex;
    justify-content: flex-start ;
    gap: 10px;
    padding-top: 0px;
}
.pubpriv{
    font-family: 'nunito', sans-serif;
    gap: 5px;
    padding-right: 100px;
}
.value {
  transform: scale(1.5); /* 1.5x bigger */
  accent-color: #a45de3; /* optional: change color */
}
.color-options{
    display: flex;
    justify-content: flex-start ;
    gap: 35px;
    margin-left: -15px;
}
/*button-color*/
.button1{
    appearance: none;          /* remove default radio style */
    width: 20px;
    height: 20px;
    border: 3px solid #C8BBD0; /* outline color */
    border-radius: 50%;
    background-color: #C8BBD0; /* color even when not clicked */
    cursor: pointer;
    transform: scale(1.5); /* 1.5x bigger */
}
.button1:checked {
    background-color: #C8BBD0; /* color when clicked */
    border: 2px solid black;
}
.button2{
    appearance: none;       
    width: 20px;
    height: 20px;
    border: 3px solid #E0BBD4; /* outline color */
    border-radius: 50%;
    background-color: #E0BBD4; /* color even when not clicked */
    cursor: pointer;   
    transform: scale(1.5); /* 1.5x bigger */ 
}
.button2:checked {
    background-color: #E0BBD4; /* color when clicked */
    border: 2px solid black;
}
.button3{
    appearance: none;          /* remove default radio style */
    width: 20px;
    height: 20px;
    border: 3px solid #C3C7F3; /* outline color */
    border-radius: 50%;
    background-color: #C3C7F3; /* color even when not clicked */
    transform: scale(1.5); /* 1.5x bigger */
    cursor: pointer;
}
.button3:checked {
    background-color: #C3C7F3; /* color when clicked */
    border: 2px solid black;
}
.button4{
    appearance: none;          /* remove default radio style */
    width: 20px;
    height: 20px;
    border: 3px solid #90F897; /* outline color */
    transform: scale(1.5); /* 1.5x bigger */
    border-radius: 50%;
    background-color: #90F897; /* color even when not clicked */
    cursor: pointer;
}
.button4:checked {
    background-color: #A3D9B1; /* color when clicked */
    border: 2px solid black;
}
.button5{
    appearance: none;          /* remove default radio style */
    width: 20px;
    height: 20px;
    border: 3px solid #CF8686; /* outline color */
    border-radius: 50%;
    transform: scale(1.5); /* 1.5x bigger */
    background-color: #CF8686;
    cursor: pointer;
}
.button5:checked {
    background-color: #CF8686; /* color when clicked */
    border: 2px solid black;
}
.button6{
    appearance: none;          /* remove default radio style */
    width: 20px;
    height: 20px;
    border: 3px solid #EECB99; /* outline color */
    border-radius: 50%;
    background-color: #EECB99; /* color even when not clicked */
    cursor: pointer;
    transform: scale(1.5);
}
.button6:checked {
    background-color: #EECB99; /* color when clicked */
    border: 2px solid black;
}
/*pop-up form*/
.popup {
    display: none;                /* hide at first */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);  /* dark overlay */
    justify-content: center;
    align-items: center;
}

/* The popup box */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}