:root {
    --color-primary: #EBD3FA;
    --color-secondary: #E3AADD;
    --color-third: #C8A8E9;
    --color-fourth: #A993D8;
    --color-fifth: #C3C7F3;
    --font-color: #2F2F2F;
    --card-color1: #C8BBD0;
    --card-color2: #E0BBD4;
     --card-color3: #C3C7F3;
     --card-color4: #90F897;
    --card-color5: #CF8686;
     --card-color6: #EECB99;
     --color-shadow: #DDDDDD;
     --color-shadow: #cecece;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #130b0b;
     overflow: hidden; 
       font-family: "jersey 15", sans-serif;

}

.mode-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}



.logo {
  text-align: left;
  margin-bottom: 1rem;
  width: 91%;
  height: 80px;
  padding: 10px;
}

.logo img {
  width: 255px;
  margin-left:-25px;
  margin-top: -10px;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}
/*header*/
.header-container {
    display: flex;
    justify-content: center; /* centers the search bar */
    align-items: center;
    position: relative;
      grid-area: header;
      border: 2px solid #E6E6E6; 

}

.grid-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 300px;
  margin-top: -40px;
  height: auto;
}

.profile-btn,
.edit-dp-btn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-info{
  margin-left: 20px;
  font-weight: normal;
}

.profile-btn i,
.edit-dp-btn i {
  font-size: 24px;
  color: #333; 
}

.icon-separator {
  font-size: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icons button{
      background: none;
  border: none;
  color: inherit;  
  padding: 0;    
  font: inherit;   
  cursor: pointer; 
}
.search-bar {
  display: flex;
  background-color: #ffffff;
  margin-right: 70px;
  border-radius: 100px;
  overflow: hidden;
  height: 30px;
  width: 431px;
  max-width: 600px;
  margin-top: 16px;
  border: 2px solid #C8A8E9;
  align-items: center;
}


.search-bar input {
  border: none;
  background: transparent;
  padding: 0px 20px;
  flex: 1;
  font-size: 15px;
  outline: none;
  width: 60px;
  color: var(--font-color);
  font-family: "jersey 15", sans-serif;
}

.search-bar i {
  font-size: 16px;
  color: black;
  height: 45px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-wrapper {
  position: fixed;        
  top: -6px;
  right: 30px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  z-index: 1000;         
}

.dp-container {
  width: 40px;
  height: 40px;
}

.dp-container img {
  width: 100%;
  height: 100%;
 border-radius: 50%;     
  object-fit: cover;     
  overflow: hidden;     
  display: block; 
  margin-top: 2px;

}

.user-info {
  text-align: right;
  font-family: "jersey 15", sans-serif;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.dropdown-content {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  min-width: 100px;
  z-index: 9999;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.show {
  display: block;
}

.sidebar {
  grid-area: sidebar;
  width: 220px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
  padding-top: 10px;
  font-family: 'Jersey 15', sans-serif;
  font-weight: normal;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
} 

.sidebar-list span{
  font-weight: normal;
}

.sidebar-list-item{
margin-left: 10px;
}

.sidebar-list i{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  font-size: 22px;
  margin-left: 15px;
  opacity: 0.3;
  color: black;
}

.menu-title {
  font-size: 14px;
  margin-top: 1rem;
  margin-left: 15px;
}

.menu a {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  padding: 15px 10px;
  margin: 10px 0;
  border-radius: 20px 0 0 20px;
  transition: background 0.3s, color 0.3s;
}

.menu a:hover {
  margin-left: 15px;
  background: white;
  color: #000000;
}

.menu a.active {
  background: white;
  color: #000000;
}

.my-decks {
  font-size: 17px;
  margin-top: 1rem;
  margin-left: 15px;
}

.mydecks a {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 20px 0 0 20px;
  transition: background 0.3s, color 0.3s;
}

.mydecks a:hover {
  margin-left: 15px;
  background: white;
  color: #000000;
}

.mydecks a.active {
  background: white;
  color: #000000;
}
.mydecks-list i{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  font-size: 18px;
  margin-left: 15px;
  font-weight: normal;
}
.logout {
  font-size: 17px;
  margin-top: 7rem;
  margin-left: 15px;
}
.logout a {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 20px 0 0 20px;
  transition: background 0.3s, color 0.3s;
}

.logout a:hover {
  margin-left: 15px;
  background: white;
  color: #000000;
}

.logout a.active {
  background: white;
  color: #000000;
}
  .user-item {
    margin-left: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #246dec;
    font-family: 'Poppins', sans-serif;
    padding-left: 25px;
  }

  .profile-section {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
    overflow: hidden;
  }

  .profile_image {
    width: 120px;           /* ✅ Increase this value as needed */
    height: 110px;
    border-radius: 50%;     /* ✅ Makes it a circle */
    object-fit: cover;      /* ✅ Ensures image doesn’t stretch */
    overflow: hidden;       /* ✅ If it's a container */
    display: block;         /* Remove inline gaps if needed */
  }

  .profile-info {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .profile-details .name {
    font-weight: bold;
  } 
  /* MAIN */ 

  main { 
      display: flex; 
      flex-direction: row; 
      gap: 20px; 
      width: 60%; 
      margin-left: 240px; 
      padding-top: 120px; 
      padding-bottom: 40px; 
          font-family: "Jersey 15", sans-serif;
    font-weight: normal;
    font-style: normal;
  } 

  .main-content { 
      display: flex; 
      padding-top: 20px; 
  } 

  .deck-info { 
      background: white; 
      width: 350px; 
      height: 270px;
      padding: 20px; 
      border-radius: 18px; 
      box-shadow: 0 4px 12px rgba(0,0,0,0.08);
      margin-left: -50px;
  }

  .deck-info-container {
      position: relative;
  }

  .deck-top {
      width: 390px;
      height: 40px;
      background: #A993D8;
      border-top-left-radius: 200px;
      border-top-right-radius:  200px;
      position: absolute;
      top: -20px; 
      left: -50px;
  }

  .cards-panel {
    position: relative;
    background: white;
    border-radius: 20px;
    padding: 60px 30px 200px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 480px;
    width: 600px;
    overflow: hidden;
    margin-top: -20px;
  }

  .cards-actions {
      position: absolute;
      top: 0;
      left: 0;              
      width: 100%;         
      height: 50px;
      background: #A993D8;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 40px;
  }

  .add-cards,
  .practice {
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Jersey 15', sans-serif;
    margin-right: 60px;
    margin-right: 40px;
  }

  .add-cards {
    background: white;
    color: black;
    box-shadow: 0 4px 0 #ccc;
  }

  .practice {
    background: #E3AADD;
    color: black;
    box-shadow: 0 4px 0 #cc61f0;
  }

  .cards-tabs {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    border-bottom: 2px solid #ddd;
    padding-bottom: 2px;

  }

  .deck-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 17px;
  color: #444;
}

.deck-privacy {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: #555;
}

/* small purple dot */
.deck-privacy .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c8a8e9; /* matches your theme */
}


  .desc {
    font-size: 20px;
    font-weight: 300; 
    font-style: normal;
    text-align: justify;
  }


  .deck-info h3 {
      font-family: "Jersey 15", sans-serif;
      font-size: 24px;
      font-weight: normal;
      color: #333;
      margin-bottom: 8px;
  }

  .cards-tabs span {
    cursor: pointer;
    position: relative;
  }

  .cards-tabs span:hover {
    color: #6a4fc4;
  }

  .cards-tabs .active-tab {
    color: #6a4fc4;
  }

  .cards {
    background: #f9f9fb;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 15px;
    border: 1px solid #eee;

  }

  .cards p:first-child {
    font-weight: normal;
    font-size: 22px;
  }

  .cards hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 8px 0;
  }

  .cards p:last-child {
    font-size: 17px;
    color: #555;
  }

  .modes {
    border: none;
    border-radius: 20px;
    padding: 8px 30px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Jersey 15', sans-serif;
    background-color:aquamarine;
    margin-left: 50px;
  }

  /* ===== MODAL OVERLAY ===== */
  .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.45);
      display: none; /* hidden by default */
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }

  /* ===== MODAL BOX ===== */
  .modal-box {
      background: white;
      width: 1000px;
      height: 550px;
      padding: 0;
      border-radius: 20px;
      text-align: center;
      position: relative;
      animation: fadeIn 0.3s ease;
      overflow: hidden;
  }

  .modal-header {
      background: #D4B3F7;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }

  .modal-title {
      margin: 0;
      font-size: 28px;
      color: black;
      font-weight: normal;
  }

  /* Close Button */

  .close-modal {
      position: absolute;
      right: 20px;
      top: 5px;
      background: none;
      border: none;
      font-size: 35px;
      cursor: pointer;
      color: black;
      z-index: 10000;
  }

  /* Modes Grid */
  .mode-options {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
  }

  /* Each Card */
  .mode-card {
      width: 220px;
      background: #EBD3FA;
      padding: 20px;
      border-radius: 18px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 
          0 10px 0 var(--color-fourth),   
          10px 10px 0 var(--color-fourth);  

      position: relative;
      left: 25px;
      
  }

  .mode-card:hover {
      transform: translateY(-4px);
      background: #f2e9ff;
  }

  .mode-card .mode-icon {
      width: 100px;
      height: 60px;
      object-fit: contain;
      margin-bottom: 12px;
  }

  .mode-card h3 {
      margin: 0;
      font-size: 24px;
      color: black;
      font-weight: normal;
  }

  .mode-card p {
      margin-top: 10px;
      color: black;
      font-size: 12px;
      font-weight: normal;
     font-family: "Poppins", sans-serif;


  }

  /* Fade Animation */
  @keyframes fadeIn {
      from { transform: scale(0.95); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
  }

  .cards-tabs span {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;

}

.cards-tabs span.active-tab {
    color: #6a4fc4;
    font-weight: 600;
}

.cards-tabs span.active-tab::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #6a4fc4;
    border-radius: 4px;
}

.empty-wrapper {
    text-align: center;
    margin-top: 40px;
}

.empty-img {
    width: 150px;
    opacity: 0.9;
    margin-bottom: 10px;
}

.empty-msg {
    font-size: 16px;
    color: #555;
}

/* ===== MODAL OVERLAY ===== */
  .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.45);
      display: none; /* hidden by default */
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }

  /* ===== MODAL BOX ===== */
  .modal-box {
      background: white;
      width: 1000px;
      height: 550px;
      padding: 0;
      border-radius: 20px;
      text-align: center;
      position: relative;
      animation: fadeIn 0.3s ease;
      overflow: hidden;
  }

  .modal-header {
      background: #D4B3F7;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }

  .modal-title {
      margin: 0;
      font-size: 28px;
      color: black;
      font-weight: normal;
  }

  /* Close Button */

  .close-modal {
      position: absolute;
      right: 20px;
      top: 5px;
      background: none;
      border: none;
      font-size: 35px;
      cursor: pointer;
      color: black;
      z-index: 10000;
  }

  /* Modes Grid */
  .mode-options {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
  }

  /* Each Card */
  .mode-card {
      width: 220px;
      background: #EBD3FA;
      padding: 20px;
      border-radius: 18px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 
          0 10px 0 var(--color-fourth),   
          10px 10px 0 var(--color-fourth);  

      position: relative;
      left: 25px;
      
  }

  .mode-card:hover {
      transform: translateY(-4px);
      background: #f2e9ff;
  }

  .mode-card .mode-icon {
      width: 100px;
      height: 60px;
      object-fit: contain;
      margin-bottom: 12px;
  }

  .mode-card h3 {
      margin: 0;
      font-size: 24px;
      color: black;
      font-weight: normal;
  }

  .mode-card p {
      margin-top: 10px;
      color: black;
      font-size: 12px;
          font-weight: normal;
              font-family: "Poppins", sans-serif;


  }

  /* Fade Animation */
  @keyframes fadeIn {
      from { transform: scale(0.95); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
  }

  .cards-tabs span {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;

}

.cards-tabs span.active-tab {
    color: #6a4fc4;
    font-weight: 600;
}

.cards-tabs span.active-tab::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #6a4fc4;
    border-radius: 4px;
}

.empty-wrapper {
    text-align: center;
    margin-top: 40px;
}

.empty-img {
    width: 150px;
    opacity: 0.9;
    margin-bottom: 10px;
}

.empty-msg {
    font-size: 16px;
    color: #555;
}

/* ADD CARD MODAL */
.add-card-modal {
    background: #f0f0f0;
    width: 420px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 
          0 10px 0 var(--color-shadow),   
          10px 10px 0 var(--color-shadow);  

    font-family: "Jersey 15", sans-serif;
    text-align: center;
    animation: popIn 0.3s ease;
}

.add-card-modalheader {
    background: #d7a7ff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px 20px 0 0;
    margin: -30px -30px 20px -30px;
}

.add-new-card-head {
    font-size: 30px;
    color: black;
    font-weight: normal;
}

.form-group {
    text-align: left;
        font-size: 20px;

    margin-bottom: 15px;
}

.form-group label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-family: 'Jersey 15', sans-serif;

}

.form-group input {
    width: 95%;
    
    padding: 10px 14px;
    border-radius: 14px;
    border: none;
    outline: none;

    font-size: 20px;
    font-family: 'Jersey 15', sans-serif;

}

.attach-img {
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px;
    border-radius: 14px;
    border: 1px dashed #aaa;
    background: transparent;
    cursor: pointer;

        font-size: 20px;
    font-family: 'Jersey 15', sans-serif;

}

.addline {
  width: calc(128% - 60px); /* reduce width */
  margin-right: 60px;      /* space on the right */
  margin-left: -30px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    background: white;
    border: 1px solid #ccc;
    padding: 8px 22px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 0 #ccc;

    margin-left: 110px;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-family: 'Jersey 15', sans-serif;

}

.add-btn {
    background: #d7a7ff;
    border: none;
    padding: 8px 26px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 0 #cc61f0;
   
    margin-right: 120px;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-family: 'Jersey 15', sans-serif;

}

.image-preview {
  display: none;
  width: 100%;
  height: 120px;
  margin: 10px 0 15px;
  border-radius: 14px;
  background: repeating-conic-gradient(
    #eee 0% 25%,
    #ddd 0% 50%
  ) 50% / 20px 20px;
  overflow: hidden;
  position: relative;

  
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-img {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
   z-index: 5;
}

.remove-img:hover {
  background: #ff5c5c;
}

.success-box {
  background: white;
  padding: 30px 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  animation: popIn 0.3s ease;
}

.success-box img {
  width: 120px;
  margin-bottom: 15px;
}

.success-box p {
  font-family: "Jersey 15", sans-serif;
  font-size: 20px;
}



@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}