:root {
    --color-primary: #EBD3FA;
    --color-secondary: #E3AADD;
    --color-third: #C8A8E9;
    --color-fourth: #A993D8;
    --color-fifth: #C3C7F3;
    --font-color: #2F2F2F;
    --card-color1: #C8BBD0;
    --card-color2: #E0BBD4;
     --card-color3: #C3C7F3;
     --card-color4: #90F897;
    --card-color5: #CF8686;
     --card-color6: #EECB99;
     --color-shadow: #DDDDDD;
}

body {
  background-image: url('../images/notebook\ line.png');
  background-position: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
    background-size: 100%;
  background-repeat: no-repeat;

}

.header-box {
    width: 70%;
    margin: 60px auto 0;
    background: #ffffff;
    border-radius: 40px;
    padding: 120px 30px 40px; 
    text-align: center;
    box-shadow: 0 8px 15px rgba(0,0,0,0.12);
    position: relative;
}

.header-top {
    width: 100%;
    height: 90px;
    background: #e3c2ff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.title {
    font-family: 'Jersey 15';
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
}

.subtitles {
    margin-top: 10px;
}

.subtitle {
    font-size: 18px;
    opacity: 0.8;
    margin: 5px 0;
}
.placeholder{
  padding:10px 20px; 
  width:70%; 
  height:50px;
  font-size:18px; 
  border-radius:15px; 
  border: 2px solid #3182BC; 
}
.placeholder:focus{
  outline:none;
  border-color:#3182BC;
  box-shadow: 0 0 5px #3182BC;
}
.start-btn {
    margin-top: 20px;
    width: 60%;
    padding: 12px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 23px;
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    font-size: 22px;
    box-shadow: 0 4px 0 #a45de3;
    transition: 0.3s ease;
}

.start-btn:hover {
    transform: scale(1.05);
}
.start-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #a45de3;
}

.slideshow-box {
    width: 70%;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    position: relative;
}

.slide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease;
    position: absolute;
    width: 100%;
}

.slide.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.question {
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
    border: 1.2px solid var(--color-secondary);
    border-radius: 15px;
    background: white;
    margin-bottom: 20px;
}

.options button {
    padding: 15px 20px;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1.5px solid var(--color-secondary);
    background: #fff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

.dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 10px;
    width: 10px;
    background: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    transition: 0.3s;
}

.dot.active {
    background: var(--color-secondary);
}

.correct {
    background: #8fffa1 !important;
    border-color: #3abf51 !important;
}

.wrong {
    background: #ff9e9e !important;
    border-color: #d64545 !important;
}
